PORT = SERVER_PORT // like 4000
NODE_ENV = DEVELOPMENT_MODE // like dev or prod
BASE_URL = BASE_API_URL_WITH_VERSION // like /api/v0
DB_URL = MONGODB_CONNECTION_STRING // like mongodb://<username>:<password_urlencoded>@localhost:27017/<db_name>?directConnection=true&authSource=admin
FRONTEND_URL = URL_OF_THE_FRONTEND //without any trailing slash

NM_AUTH_TYPE = NODEMAILER_AUTH_TYPE // literally login or oauth2
NM_AUTH_USER = NODEMAILER_AUTH_USER // gmail address like abdvn@gmail.com
NM_AUTH_PASS = NODEMAILER_AUTH_PASS // app password like abcd jjhs iweu jwki

//If NM_AUTH_TYPE is oauth2, NM_AUTH_PASS is not required but the 3 oauth variables below are required. Otherwise, it is the opposite.

OAUTH_CLIENT_ID = OAUTH2_CLIENT_ID // like 162356715325-jh23ggg3287ggeyhr73jcuw826kchd4r.apps.googleusercontent.com
OAUTH_CLIENT_SECRET = OAUTH2_CLIENT_SECRET // like WIWEJL-h3jrjh3gggjhr4h33r43hvxmljzl
OAUTH_REFRESH_TOKEN = OAUTH2_REFRESH_TOKEN // like 1//4C4917A1C1F2B7713EE7098601CD-9ZJ3Mm_e24FgwlC_Ay-z2FsDAiEBs5RXiykOFE85Oeg-XJFaN78PYhu_22zMLUoaV2L1MDvKiK5x6Bx-BKJUCbE

VERIFY_LINK_SECRET = ANY_STRING_FOR_USE_IN_HMAC // like KsTQnSE3t2IQjlbMFBlWcP2PSOQKB8UolRKTvZBMqP8Moez
VERIFY_LINK_KEY = ANY_BASE64_STRING_FOR_USE_IN_ENCODE // should contain 44 characters including the padding marker = at the end, like nElzd31mxJkQ55TSRQghoiDdCb5XAkHsfPrFWRHQ1yw=

ACCESS_SECRET = SECRET_FOR_JWT_ACCESS_TOKEN // like mvb1qDPxYvSzQf_WqsD6Gx_Bs9dFcmZTcuXmausj2h3a8otRw
ACCESS_EXPIRY = TOKEN_EXPIRY_FOR_JWT_ACCESS_TOKEN // like 5m
REFRESH_SECRET = SECRET_FOR_REFRESH_TOKEN_STORE_HASH // like 6iqelx4vJHbHpof2bkbdoSKdVUwxcsem1f
REFRESH_EXPIRY = REFRESH_TOKEN_EXPIRY // like 2d

OTP_SECRET = SECRET_FOR_OTP // like MNmXwqu6-dpa3eB4iyODigzqJKWCqEZTPewDF6jsfarkM
OTP_SECRET2 = SECRET_BASE64_FOR_OTP_LINK_ENCODE // should contain 44 characters including the padding marker = at the end, like SHUsXTKbdiurdbnE4BayY1ATUxeY2rkU8DoDJ6e-YPI=
OTP_FILLER_SECRET = SECRET_BASE64_FOR_OTP_STORE_FILLER // should contain 44 characters including the padding marker = at the end, like uUDFClsOMrOIItvUK5eIalywbslX9wpLSEGBiI1ByRQ=

SESSION_SECRET = SECRET_FOR_HASHING_SESSION_TOKENS // like tR2XCItjbQfEeyNkui923
SESSION_LIFE = DURATION_FOR_SESSION_VALIDITY // like 3d