PORT = SERVER_PORT
NODE_ENV = DEVELOPMENT_MODE //dev or prod
BASE_URL = BASE_API_URL_WITH_VERSION
DB_URL = MONGODB_CONNECTION_STRING
FRONTEND_URL = URL OF THE FRONTEND

NM_AUTH_TYPE = NODEMAILER_AUTH_TYPE //login or oauth2
NM_AUTH_USER = NODEMAILER_AUTH_USER
NM_AUTH_PASS = NODEMAILER_AUTH_PASS //app password 

//If NM_AUTH_TYPE is oauth2, NM_AUTH_PASS is not required but the 3 oauth variables below are required. Otherwise, it is the opposite.

OAUTH_CLIENT_ID = OAUTH2_CLIENT_ID
OAUTH_CLIENT_SECRET = OAUTH2_CLIENT_SECRET
OAUTH_REFRESH_TOKEN = OAUTH2_REFRESH_TOKEN

VERIFY_LINK_SECRET = ANY_STRING_FOR_USE_IN_HMAC
VERIFY_LINK_KEY = ANY_BASE64_STRING_FOR_USE_IN_ENCODE // should contain 44 characters including the padding marker = at the end

ACCESS_SECRET = SECRET_FOR_JWT_ACCESS_TOKEN
ACCESS_EXPIRY = TOKEN_EXPIRY_FOR_JWT_ACCESS_TOKEN // 30m
REFRESH_SECRET = SECRET_FOR_REFRESH_TOKEN_STORE_HASH
REFRESH_EXPIRY = REFRESH_TOKEN_EXPIRY // 1d

OTP_SECRET = SECRET_FOR_OTP
OTP_SECRET2 = SECRET_BASE64_FOR_OTP_LINK_ENCODE // should contain 44 characters including the padding marker = at the end
OTP_FILLER_SECRET = SECRET_BASE64_FOR_OTP_STORE_FILLER // should contain 44 char......marker = at the end, such as - g1yT67yjk.....caK=

SESSION_SECRET = SECRET_FOR_HASHING_SESSION_TOKENS
SESSION_LIFE = DURATION_FOR_SESSION_VALIDITY